$primayColor: #1890ff;

.pageWidth {
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @media screen and (min-width: 992px) {
    width: 946px;
  }
}

.topMargin1 {
  margin-top: 1rem;
}

.layoutContent {
  height: 100%;
  margin-top: 2rem;
}
