.loginWrapper {
  margin-right: auto;
  margin-left: auto;

  .loginImg {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .loginFormWrapper {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    max-width: 550px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    width: 1216px;
  }
}
