@import '../../utils/theme.scss';

.layout {
  background-color: #ffff !important;
}
.header {
  background-color: #ffffff !important;
  border-bottom: 1px solid $primayColor;
  box-shadow: 0 0 2px $primayColor;
  height: 40px !important;
  width: 100%;
  position: fixed;
  z-index: 1;
}
.mobileHeader {
  bottom: 0;
}
.icons {
  font-size: 20px !important;
  padding-top: 6px !important;
}
